// Copyright (C) 2022 Nitrokey GmbH
// SPDX-License-Identifier: LGPL-3.0-only

[
    IoTest(
        name: "Verify",
        cmd_resp: [
            VerifyDefaultApplicationPin(),
            VerifyDefaultGlobalPin(expected_status: FunctionNotSupported)
        ]
    ),
    IoTest(
        name: "Select",
        cmd_resp: [
            Select
        ]
    ),
    IoTest(
        name: "Default management key",
        cmd_resp: [
            AuthenticateManagement(
                key: (
                    algorithm: Tdes,
                    key: "0102030405060708 0102030405060708 0102030405060708"
                )
            )
        ]
    ),
    IoTest(
        name: "Aes management key",
        cmd_resp: [
            AuthenticateManagement(
                key: (
                    algorithm: Tdes,
                    key: "0102030405060708 0102030405060708 0102030405060708"
                )
            ),
            SetManagementKey(
                key: (
                    algorithm: Aes256,
                    key: "0102030405060708 0102030405060708 0102030405060708 0102030405060708"
                )
            ),
            AuthenticateManagement(
                key: (
                    algorithm: Aes256,
                    key: "0102030405060708 0102030405060708 0102030405060708 0102030405060708"
                )
            )
        ]
    ),
    IoTest(
        name: "unauthenticated set management key",
        cmd_resp: [
            SetManagementKey(
                key: (
                    algorithm: Aes256,
                    key: "0102030405060708 0102030405060708 0102030405060708 0102030405060708"
                ),
                expected_status: SecurityStatusNotSatisfied,
            ),
            AuthenticateManagement(
                key: (
                    algorithm: Aes256,
                    key: "0102030405060708 0102030405060708 0102030405060708 0102030405060708"
                ),
                expected_status_challenge: IncorrectP1OrP2Parameter,
                expected_status_response: IncorrectP1OrP2Parameter,
            )
        ]
    ),
    IoTest(
        name: "Generate key",
        cmd_resp: [
            AuthenticateManagement(
                key: (
                    algorithm: Tdes,
                    key: "0102030405060708 0102030405060708 0102030405060708"
                )
            ),
            IoData(
                input: "00 47 009A 05 
                                AC 03 
                                     80 01 11",
                output: Len(70),
            )
        ]
    ),
    IoTest(
        name: "PUT DATA",
        cmd_resp: [
            GetData(
                input: "5C 01 7E",
                output: Data("7e 12 4f 0b a000000308000010000100 5f2f 02 4000")
            ),
            GetData(
                input: "5C 03 5FC102",
                output: Len(61)
            ),
            PutData(
                input: "5C 03 5FC102 53 10 000102030405060708090A0B0C0D0E0F",
                expected_status: SecurityStatusNotSatisfied
            ),
            GetData(
                input: "5C 03 5FC102",
                output: Len(61)
            ),
            AuthenticateManagement(
                key: (
                    algorithm: Tdes,
                    key: "0102030405060708 0102030405060708 0102030405060708"
                )
            ),
            PutData(
                input: "5C 03 5FC102 53 10 000102030405060708090A0B0C0D0E0F",
            ),
            GetData(
                input: "5C 03 5FC102",
                output: Data("53 10 000102030405060708090A0B0C0D0E0F")
            ),
            PutData(
                input: "5C 01 7E 53 10 000102030405060708090A0B0C0D0E0F",
            ),
            GetData(
                input: "5C 01 7E",
                output: Data("7e 10 000102030405060708090A0B0C0D0E0F")
            ),
        ]
    )
]
